[Unit]
Description=GitHub Actions Docker Ephemeral Runner - {{.ProfileName}}
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
User=root
EnvironmentFile={{.GitHubEnvFile}}
ExecStart={{.LoopBinaryPath}} --config {{.ProfileConfigPath}}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
